body {
    background-color: #eeeeee;
    font-family: Georgia, "Times New Roman", serif;
    color: #111111;
    margin: 8px;
}


/* Top release information */

header {
    text-align: center;
    font-variant: small-caps;
    border-top: 1px solid #555555;
    border-bottom: 1px solid #555555;
    padding: 4px;
}


/* Contact information */

aside {
    float: right;
    width: 180px;
    text-align: right;
    border-right: 18px solid #44445c;
    padding: 5px 12px;
    font-size: 17px;
    line-height: 21px;
}

aside::first-line {
    font-weight: bold;
}


/* Main title */

h1 {
    font-size: 50px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 55px;
    width: 75%;
}


/* Main article */

article {
    width: 80%;
    margin: auto;
    background-image: url("WidgetCoLogo.gif");
    background-repeat: no-repeat;
    background-position: center;
}


/* Subtitle */

h2 {
    text-align: center;
    font-style: italic;
    font-size: 28px;
    margin-bottom: 20px;
}


/* Paragraph text */

p {
    font-size: 19px;
    line-height: 26px;
    text-align: justify;
}


/* Green information box */

section {
    background-color: #fffff5;
    border-top: 3px solid #006600;
    border-right: 3px solid #006600;
    border-bottom: 3px solid #006600;
    border-left: 40px solid #007000;
    padding: 10px 18px;
    margin-top: 20px;
    font-size: 18px;
    text-align: justify;
}


/* Links */

a {
    color: #0000aa;
    font-weight: bold;
}


/* Footer */

footer {
    border-top: 1px solid #888888;
    margin-top: 18px;
    padding-top: 6px;
    text-align: right;
    font-size: 16px;
    font-style: italic;
    color: #888888;
}

footer a:link {
    color: #888888;
}